* {
  box-sizing: border-box;
}

html {
  font-size: 24px;
}

body {
  margin: 0;
  background-color: paleturquoise;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  height: 102vh;
  background-color: palegoldenrod;
  font-family: monospace;
  text-align: center;
}

div {
  border: 1rem solid rgba(0, 0, 0, .125);
  margin: 0 -50%;
  padding: 1rem;
}

.viewport-units {
  width: 100vw;
  background-color: palevioletred;
}

.root-units {
  width: var(--rw);
  background-color: palegreen;
}
